<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAf1cT-sq-eB4Y10cCVlv-22uA7QGvnCu8</string>
	<key>GCM_SENDER_ID</key>
	<string>828865002983</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.virtuchat</string>
	<key>PROJECT_ID</key>
	<string>virtuchat</string>
	<key>STORAGE_BUCKET</key>
	<string>virtuchat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:828865002983:ios:78a60463ee5bb5e28b9142</string>
</dict>
</plist>